body{
  background-color: aquamarine;
   
}
.lib-info{
    width: 100%;
}
.carousel-inner{
     height: 350px; width: 30px;
}

.item, img{
    height: 100% !important;
    width:  100% !important;
    border: 1px solid rgb(0, 255, 251);
}